.cont {
   padding: 15px;
   display: flex;
   justify-content: center;
}
.card p {
    font-size: 26px;
}
.img {
    border-radius: 10px;
}
.description {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}